
body {
    font-size: 1rem;
    line-height: 1.5;
    @apply font-roboto;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.example {
    animation-name: fadeIn; /* Corretto da "animazion-name" */
    animation-duration: 5s; /* Corretto da "animazion-duration" */
}

@keyframes popIn{
    0%{transform: scale(0);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

.example2{
    animation: popIn 0.5s ease; 
}

/*-----------------------------mobile fonts-------------------------------------------------*/

.typo-h1-mb {
    font-size: 2.3rem;
    line-height: 1.2;
    @apply font-roboto;
}

.typo-h2-mb {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.3;
    @apply font-roboto;

}

.typo-body-mb {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.6;
    @apply font-roboto;
}

.typo-info-mb{
    font-size: 0.875rem; /* 14px */
    font-weight: 300;
    line-height: 1.4;
    @apply font-roboto;
}


/*-----------------------------desktop fonts-------------------------------------------------*/

.typo-h1-dt {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
    @apply font-roboto;
}

.typo-h2-dt {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.3;
    @apply font-roboto;
}

.typo-body-dt{
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.6;
    @apply font-roboto;
}

.typo-info-dt{
    font-size: 0.875rem; /* 14px */
    font-weight: 300;
    line-height: 1.4;
    @apply font-roboto;
}



