@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}



.text-contrast-primary{
    @apply text-white
}


.typo-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.typo-h2 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.3;
}

.typo-h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
    line-height: 1.4;
}

.typo-body-bold {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.6;
}

.typo-body {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.6;
}

.typo-info {
    font-size: 0.875rem; /* 14px */
    font-weight: 300;
    line-height: 1.4;
}

.typo-caption {
    font-size: 0.75rem; /* 12px */
    font-weight: 300;
    line-height: 1.3;
}
