@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Rimuove le freccette su WebKit */
    margin: 0; /* Per evitare spazi extra */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Rimuove le freccette su Firefox */
    -webkit-appearance: none; /* Safari e Chrome */
    appearance: none; /* Standard */
  }
}

.light {
  --primary: 0, 116, 217;
  --primary-light: 125, 231, 255;
  --primary-hover: 0, 90, 168;
  --primary-dark: 0, 77, 144;
  --primary-contrast: 255, 255, 255;
  --info: 75, 85, 99; /* vorrei rimuoverlo del tutto */
  --my-green: 52, 199, 89;
  --my-orange: 251, 146, 60;
  --my-red:248 113 113;
  --my-background: 255, 255, 255;
  --my-bgcontrast: 75, 85, 99; 
  --my-secondary-bg: 75, 85, 99; 
  --my-border-color: 75, 85, 99;
  --my-text-1: 75, 85, 99;
  --my-text-2: 255, 255, 255;
  --my-shadow-on-bg: 148, 163, 184;
  --icons: 255, 255, 255;
}

.dark {
  --primary: 0, 116, 217;
  --primary-light: 125, 231, 255;
  --primary-hover: 0, 90, 168;
  --primary-dark: 0, 77, 144;
  --primary-contrast:255, 255, 255;
  --info: 230, 230, 230;
  --my-green: 52, 199, 89;
  --my-orange: 251, 146, 60;
  --my-red:248 113 113;
  --my-background: 20, 20, 20;
  --my-bgcontrast: 230, 230, 230;
  --my-secondary-bg: 75, 85, 99;
  --my-border-color:255, 255, 255;
  --my-text-1: 230, 230, 230;
  --my-text-2: 230, 230, 230;
  --my-shadow-on-bg: 1, 1, 1;
  --icons: 255, 255, 255;
}

body{
  background-color: rgb(var(--my-background));
  color: rgba(var(--my-text-1)); /**/
}