@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Rimuove le freccette su WebKit */
    margin: 0; /* Per evitare spazi extra */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Rimuove le freccette su Firefox */
    -webkit-appearance: none; /* Safari e Chrome */
    appearance: none; /* Standard */
  }
}